<table>
  <tr>
    <th>Order No.</th>
    <th>Name</th>
    <th>Coffee List</th>
    <td></td>
    <td></td>
  </tr>
  <tbody>
    <tr *ngFor="let order of coffeeOrders | async">
      <td>{{ order.orderNumber }}</td>
      <td>{{ order.customerName }}</td>
      <td><span *ngFor="let coffee of order.coffeeOrder">
          {{ coffee }}
        </span>
      </td>
      <td [hidden]="order.completed" (click)="markCompleted(order)">
        <i class="material-icons">check</i>
      </td>
      <td [hidden]="order.completed" (click)="deleteOrder(order)">
        <i class="material-icons">delete_forever</i>
      </td>
    </tr>
  </tbody>
</table>